@import "tailwindcss";

@font-face {
  font-family: "Bold";
  src: url("/fonts/Bold.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/Medium.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/Regular.ttf");
}

@font-face {
  font-family: "Thin";
  src: url("/fonts/Thin.ttf");
}

@font-face {
  font-family: "Light";
  src: url("/fonts/Light.ttf");
}

@theme {
  --color-primary: #52C835;
  --color-secondary: #327821;
  --color-background: #131315;
  --color-backgroundsecondary: #1D1D1F;
  --color-backgroundthird: #0F0F10;
  --font-bold: "Bold";
  --font-medium: "Medium";
  --font-regular: "Regular";
  --font-light: "Light";
  --font-thin: "Thin";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

