@import "tailwindcss";

@font-face {
  font-family: "Bold";
  src: url("/fonts/Bolds.otf") format("truetype");
}


@font-face {
  font-family: "Medium";
  src: url("/fonts/Mediums.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/Regulars.otf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: url("/fonts/Lights.otf") format("truetype");
}

@theme {
  --color-primary: #FFFAFA;
  --color-secondary: #327821;
  --color-background: #131315;
  --color-backgroundsecondary: #1D1D1F;
  --color-backgroundthird: #0F0F10;
  --font-bold: "Bold";
  --font-medium: "Medium";
  --font-regular: "Regular";
  --font-light: "Light";
}

:root {
  font-family: system-ui, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3efef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

