@import "tailwindcss";

@font-face {
  font-family: "Bold";
  src: url("/fonts/Bolds.otf") format("truetype");
}


@font-face {
  font-family: "Regular";
  src: url("/fonts/Regulars.otf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: url("/fonts/Lights.otf") format("truetype");
}

@font-face {
  font-family: "Basker-Regular";
  src: url("/fonts/Basker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Basker-Medium";
  src: url("/fonts/Basker-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Basker-Bold";
  src: url("/fonts/Basker-Bold.ttf") format("truetype");
}

@theme {
  --color-primary: #FFFAFA;
  --color-secondary: #327821;
  --color-background: #131315;
  --color-backgroundsecondary: #1D1D1F;
  --color-backgroundthird: #0F0F10;
  --font-bold: "Bold";
  --font-regular: "Regular";
  --font-light: "Light";
  --font-basker-regular: "Basker-Regular";
  --font-basker-medium: "Basker-Medium";
  --font-basker-bold: "Basker-Bold";
}

:root {
  font-family: system-ui, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3efef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

